.footer {
    background-color: var(--primary-dark-color);
    color: var(--primary-light-color);
    letter-spacing: 2px;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 1.25rem;
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.footer-left,
.footer-left .newsletter-form {
    display: flex;
    flex-direction: column;
}

.footer-left {
    gap: 1.5rem;
}

.footer-left .newsletter-form {
    input {
        width: 21.5rem;
        padding: 0.6rem 1.2rem;
        color: #aaaaaa;
        border-radius: 30px;
    }

    .newsletter-btn {
        background-color: #6329A2;
        color: var(--primary-light-color);
        width: fit-content;
        padding: 5px 10px;
        font-size: 0.8rem;
        letter-spacing: 1.8px;
        margin-top: 5px;
        border: 3px solid #6329A2;

        &:hover {
            background-color: var(--primary-light-color);
            color: #6329A2;
        }
    }
}

.footer-left .social-media-list {
    display: flex;
    gap: 0.5rem;

    a img {
        transition: var(--primary-transition)
    }

    a:hover img {
        transform: scale(1.2);
        opacity: 0.7;
    }
}

.footer-nav {
    display: flex;
    gap: 3rem;
    line-height: 200%;

    a:hover {
        text-decoration: underline;
    }
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--primary-light-color);
    margin: 2.5rem 0 1.25rem;
}

.footer-bottom {
    text-align: center;

    .copyright {
        font-size: 1.15rem;
    }
}

@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .footer-top {
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
    }

    .footer-nav {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-bottom .copyright {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .footer-left .newsletter-form input {
        width: 80%;
    }
}