.hero-section {
    background: url(../../../images/banners/hero.png) no-repeat center 45%/cover;
    height: 500px;
    border-radius: 20px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 7rem;
}

.hero-content {
    color: var(--primary-light-color);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1.25rem;
}

.hero-title {
    font-size: 1.5rem;
    font-weight: var(--primary-font-weight);
    margin-bottom: 2rem;
    letter-spacing: 2.2px;
}

.hero-subtitle {
    font-size: 1.25rem;
    font-weight: var(--primary-font-weight);
    margin-bottom: 0.5rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;

    .btn {
        padding: 0.4rem 1.5rem;
    }
}