body {
    font-family: var(--primary-font);
    background-color: #cecece;
    font-weight: var(--primary-font-weight);
}

main {
    padding-block: 2rem 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}
@media (max-width: 1380px) {
    main {
        padding-inline: 0.8rem;
    }
}

.btn {
    border-radius: 30px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: var(--primary-transition)
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-light-color);
    border: 2px solid var(--primary-light-color);
}

.btn-filled {
    background-color: var(--primary-light-color);
    color: #6329A2;
    border-color: transparent;
}

.btn:hover {
    background-color: #6329A2;
    color: var(--primary-light-color);
    border-color: transparent;
}